<div class="logo-section">
</div>
<section class="nav-items">
  <div class="nav-item active">
    <div>
      <img src="assets/images/tasks.svg" alt="tasks"> My Tasks
    </div>
  </div>

  <div class="nav-item">
    <div>
      <img src="assets/images/clipboard.png" alt="projects"> Projects
    </div>
  </div>
  <div class="nav-item">
    <div>
      <img src="assets/images/calendar.png" alt="calendar"> Calendar
    </div>
  </div>
</section>